<div class="column">
    <h2>My Groups</h2>
    <ul class="groups">
        <li *ngFor="let group of groups" [class.selected]="group === selectedGroup" (click)="onSelect(group)">
            <span class="badge">{{group.id}}</span> {{group.name}}
            <button class="delete" title="delete group" (click)="deleteGroup(group)">x</button>
        </li>

    </ul>

    <h3>Add Group</h3>
    <form>
        <input type="text" name="group" [(ngModel)]="group" placeholder="New Group">
        <!-- <button class="btn btn-lg btn-primary btn-block" (click)="addGroup()" type="submit">Add</button> -->
        <button (click)="addGroup()" type="submit">Add</button>
        <!-- <input type="submit" (click)="addGroup()" value="Add"> -->
    </form>
</div>

<div class="column">
    <div *ngIf="selectedGroup">
        <h2>{{selectedGroup.name | uppercase}}</h2>
        <ul class="groups">
            <li *ngFor="let user of group_users.group1">
                <span class="badge">{{user.id}}</span> {{user.name}}
                <button class="delete" title="delete group_user" (click)="deleteGU(user)">x</button>
            </li>
        </ul>

        <!-- <h2>{{selectedGroup.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedGroup.id}}</div>
        <div>
            <label>name:
      <input [(ngModel)]="selectedGroup.name" placeholder="name"/> -->
        <h3>Add User</h3>
        <form>
            <input type="text" name="add-user" [(ngModel)]="user" placeholder="New user">
            <!-- <button class="btn btn-lg btn-primary btn-block" (click)="addGroup()" type="submit">Add</button> -->
            <button (click)="addUserIntoGroup()" type="submit">Add user into group</button>
            <!-- <input type="submit" (click)="addGroup()" value="Add"> -->
        </form>
    </div>

</div>

<div class="column">
    <h2>All the users</h2>
    <ul class="groups">
        <li *ngFor="let user of users">
            <span class="badge"></span> {{user.username}}
            <button class="delete" title="delete user" (click)="deleteUser(user)">x</button>
        </li>
    </ul>

    <!-- <h2>{{selectedGroup.name | uppercase}} Details</h2>
        <div><span>id: </span>{{selectedGroup.id}}</div>
        <div>
            <label>name:
      <input [(ngModel)]="selectedGroup.name" placeholder="name"/> -->
    <h3>Add User</h3>
    <form>
        <input type="text" name="add-user" placeholder="New user">
        <!-- <button class="btn btn-lg btn-primary btn-block" (click)="addGroup()" type="submit">Add</button> -->
        <button (click)="addUser()" type="submit">Add user</button>
        <!-- <input type="submit" (click)="addGroup()" value="Add"> -->
    </form>
</div>