/* HeroesComponent's private CSS styles */

.groups {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.groups li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: rgb(59, 192, 81);
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}

.groups li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}

.groups li.selected {
    background-color: #CFD8DC;
    color: white;
}

.groups li.selected:hover {
    background-color: #BBD8DC;
    color: white;
}

.groups .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #246ab4;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}

.column {
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px;
    /* Should be removed. Only for demonstration */
}

button.delete {
    position: absolute;
    left: 250px;
    top: -5px;
    background-color: gray !important;
    color: white;
}